@font-face {
    font-family: MonMedium;
    src: url('../../assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Mon;
    src: url('../../assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: MonRegular;
    src: url('../../assets/fonts/Montserrat-Thin.ttf');
}
.equipamentos{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
}
.pages{
    margin : 100px;
    align-self: center;
}
.pages li a{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.cardEquipamento{
    width: 250px;
    height: auto;
    margin : 20px
}
.containerButtons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.boxEquipamentos{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.buttonIncluir{
    background-color: #12f251;
    margin-top : 40px;
    margin-bottom: 30px;
    margin-left: 140px;
    align-self: flex-start;
    width: 100px;
    border : 0px;
    
    height: 35px;
}
.imgCartao{
    width : 130px;
    height: 100px;
    margin : 20px;
    object-fit: cover;
    align-self: center;
}
.cartao{
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}